.main{
  width: 100vw;
  height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('../public/photo.jpg');
   box-sizing: border-box;
   background-size: cover;

}
.button{
  
    width: 50%;
   margin: auto;
   border-radius: 5px;
   height: 30px;
   width: 150px;
   outline: invert;
margin-top: 10px;}
.div
{

   margin-top: 40px;
}
.button:hover{
   background-color: grey;
   color: aliceblue;
}
.input{
 margin: auto;
 width: 80%;
 height: 35px;
   border-radius: 5px;

}

.inner{
   color: aliceblue;
   text-align: center;
   box-shadow: 5px 2px 5px 5px rgb(0 0 0/0.2);
   /* border: 2px solid black; */
   display: flex;
   border-radius: 10px;
    width: 300px;
   height: 300px; 
   flex-direction: column;
   background-color: rgb(0, 0, 0);

}
